/* From Uiverse.io by deamelo - Modified for portfolio */

.social-icons-main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.social-icons-up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
}

.social-icons-down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
}

.social-card-email {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.email-icon {
  fill: #7c3aed;
}

.social-card-linkedin {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.linkedin-icon {
  fill: #0077b5;
}

.social-card-github {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.github-icon {
  fill: #333;
}

.social-card-leetcode {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.leetcode-icon {
  fill: #ffa116;
}

.social-card-email:hover {
  scale: 1.1;
  background-color: #7c3aed;
}

.social-card-email:hover .email-icon {
  fill: white;
}

.social-card-linkedin:hover {
  scale: 1.1;
  background-color: #0077b5;
}

.social-card-linkedin:hover .linkedin-icon {
  fill: white;
}

.social-card-github:hover {
  scale: 1.1;
  background-color: #333;
}

.social-card-github:hover .github-icon {
  fill: white;
}

.social-card-leetcode:hover {
  scale: 1.1;
  background-color: #ffa116;
}

.social-card-leetcode:hover .leetcode-icon {
  fill: white;
}
